<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<style>
    .prof {
    height: 200px;
    width: 200px;
    border-radius: 50%;
} 
.prof-card{
    display: flex;
    height: 200px;
    }
    .para{
        padding-left:10px;
    }
</style>

<body>
    <div class="prof-card">
        <img class="prof" src="images\00000045-PHOTO-2020-03-19-22-32-59 (2).jpg" alt="Hassaan">
        <div class="content">
            <h2 class="para">Hassaan Abid</h3>
                <p class="para"><i>Software Engineering Graduate from <Strong></i><a
                        href="https://en.wikipedia.org/wiki/National_University_of_Sciences_%26_Technology">National
                        University of Science and Technology</a></Strong></p>
                <p class="para">I am a React developer</p>
        </div>
    </div>
    <hr class="solid">
    <h3>Qualifications and Certificates</h3>
    <ul>
        <li>Bachelors in Software Engineering</li>
        <li>Scrum Study certified in Scrum Fundamentals</li>
        <li>Cybersecurity Certified by (ISC)2</li>
    </ul>
    <hr class="solid">
    <table>
        <tr>
            <th>Time</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>2019</td>
            <td>Start of Degree</td>
        </tr>
        <tr>
            <td>2022</td>
            <td>Internship at Vialogic</td>
        </tr>
        <tr>
            <td>2023</td>
            <td>Freelance</td>
        </tr>
    </table>
    <h3>Skills</h3>
    <table>
        <tr>
            <td>nmap</td>
            <td>&#11088;&#11088;&#11088;&#11088;</td>
            <td>Wireshark</td>
            <td>&#11088;&#11088;&#11088;&#11088;&#11088;</td>
        </tr>
        <tr>
            <td>Burpsuite</td>
            <td>&#11088;&#11088;&#11088;&#11088;</td>
            <td>Linux</td>
            <td>&#11088;&#11088;&#11088;&#11088;&#11088;</td>
        </tr>
        <tr>
            <td>Cisco Packet Tracer</td>
            <td>&#11088;&#11088;&#11088;&#11088;</td>
            <td>Aircrack-ng</td>
            <td>&#11088;&#11088;</td>
        </tr>
        <tr>
            <td>Docker</td>
            <td>&#11088;&#11088;</td>
            <td>AWS</td>
            <td>&#11088;&#11088;&#11088;</td>
        </tr>
        <tr>
            <td>JMeter</td>
            <td>&#11088;&#11088;</td>
            <td>Jira</td>
            <td>&#11088;&#11088;&#11088;&#11088;</td>
        </tr>
        <tr>
            <td>Flutter</td>
            <td>&#11088;&#11088;&#11088;</td>
            <td>Selenium</td>
            <td>&#11088;&#11088;</td>
        </tr>
    </table><br>


    <a href="Hobbies.html">My Hobbies</a> <a href="Contact.html">Contact Me</a>

</body>

</html>