<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css\style.css">
    <meta charset="UTF-8">
</head>

<body>
    <div class="header">
        <img class="cloud1" src="images\cloud.img.png" alt="Clouds">
        <p class="name container">I'm Hassaan</p>
        <p class="description">A Programmer</p>
        <div class="group"><img class="cloud2" src="images\cloud.img.png" alt="Clouds">
            <img class="mountain" src="images\mountain.img.png" alt="Mountains">
        </div>
    </div>
    <br>
    <br><img src="images\angrez.img.png" alt="angrez">
    <p class="name1">Hello</p>
    <p class="intro">Hello I am a Full Stack Developer have experience on different plateforms like react and
        node js</p>
    <p class="name1">My Skills</p>

    <div class="card">
        <img src="images\computer.img.png" alt="computer">
        <p class="card-text"><span class="card-heading">Web Development</span><br><br><br>I work on different
            technologies like front end react</p>
    </div>
    <br>
    <div class="card card2">
        <p class="card-text"><span class="card-heading">Mobile Apps</span><br><br><br>Ios and Andrgsddrsydrysytrystytrdtrutrutrutrudtrurtdturtoid specialize in and
            having experience
        </p><img class="card-img" src="images\chillies.img.png" alt="computer">
    </div>
    <br>
    <h2 class="name1">Get in touch</h2><br>
    <h3 class="endings">If you love hotwings as much as I do.</h3><br>
    <p class="intro">Love hot wings as much as I do ? Let's talk about how awesome
         they are ! We can code while we eat hot wings!
    </p>
    <br>
    <button>Contact Me</button>
    <br>
    <br>
    <div class="footer"><a href="#">Linkdin</a> <a href="#">twitter</a> <a href="#">Facebook</a>
        <p>© Muhammad Hassaan.</p>
        <br>
    </div>
</body>

</html>